<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatis.jta.mapper.datasource1.InventoryMapper">

    <select id="findNumberByIdForUpdate" resultType="Integer">
        select number from inventory where inventory_id = #{id} for update
    </select>

    <select id="findNumberById" resultType="Integer">
        select number from inventory where inventory_id = #{id}
    </select>

    <update id="updateInventory">
        update inventory set number = #{inventoryNumber} where inventory_id = #{id}
    </update>

    <update id="decreaseInventory">
        update inventory set number = number - #{decrease} where inventory_id = #{id} and number-#{decrease}>=0
    </update>

    <insert id="createInventory" useGeneratedKeys="true" keyColumn="inventory_id" keyProperty="inventoryId">
        insert into inventory (number,name) values (#{number},#{name})
    </insert>


</mapper>