<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatis.jta.mapper.datasource1.SequenceMapper">
    <resultMap id="findByIdResult" type="com.example.mybatis.jta.model.datasource1.Sequence">
        <id column="seq_name" property="name"></id>
        <result column="current_val" property="value"></result>
        <result column="increment_val" property="step"/>
    </resultMap>

    <update id="increase">
        update sequence set current_val=current_val+1 where seq_name=#{name}
    </update>
</mapper>